[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "command-t"]
	path = command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/vim-easymotion"]
	path = .vim/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/jslint"]
	path = .vim/bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/crtlp"]
	path = .vim/bundle/crtlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".fonts/ttf-dejavu-powerline"]
	path = .fonts/ttf-dejavu-powerline
	url = git://gist.github.com/1630581.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = git@github.com:mattn/zencoding-vim.git
[submodule ".vim/bundle/coloresque"]
	path = .vim/bundle/coloresque
	url = git@github.com:gorodinskiy/vim-coloresque.git
