[user]
    name = Pierre GIRAUD
    email = pierre.giraud@dalibo.com
    signingkey = 2D3C1FBD8BA59F61
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto

[core]
    excludesfile = ~/.gitignore
    pager = delta

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lol = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) %C(green)(%ad)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(yellow)%d%C(reset)' --all --date=human
    addremove = !git add . && git ls-files --deleted | xargs --no-run-if-empty git rm
    fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
    vim = ! sh -c 'vim `git fshow $1`' -

    is-tracking = !git remote-branch 2>&1| grep -q /
    last-commit = !xargs git show --format=format:'%at %H' -s | sort | tail -1 | cut -d ' ' -f 2
    filter-remote = !git is-tracking && grep ' '$(git current-remote) || cat
    filter-current = !git is-tracking && grep -v $(git remote-branch)\\$ || cat
    delete-merged-branches = !git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
    # Lists remote branches
    other-remote-branches = !git branch --remote | grep -v HEAD | git filter-current
    # Returns the commit from which the branch has been created
    fork-base = !git other-remote-branches | xargs --no-run-if-empty -l git merge-base HEAD | git last-commit

[branch]
    autosetupmerge = false
[push]
    default = nothing

[commit]
    gpgSign = true

[interactive]
    diffFilter = delta --color-only

[gpg]
    program = gpg
[commit]
    verbose = 3
[fetch]
    prune = true

[merge]
    conflictstyle = diff3

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    features = calochortus-lyallii 

[include]
    path = ~/themes.gitconfig
[rerere]
	enabled = true
	autoUpdate = true
